{% extends "base.html" %}

{% block content %}
<h1>
    About Me
</h1>
<h2>
    Hi, ich bin Muhammed Taha
</h2>
<p>
    Hallo, ich bin 21 Jahre alt und absolviere derzeit meine Ausbildung zum Fachinformatiker für Systemintegration. Diese Website ist mein persönliches Projekt. Ich interessiere mich sehr für die neuesten Technologien und experimentiere gerne damit herum. Das Programmieren bereitet mir viel Freude, sei es im Frontend, auch wenn es nicht immer so schön aussieht ;D, oder im Backend.
</p>
<h2>
    Hi, I'm Muhammed Taha Yildiz
</h2>
<p>
    Hello, I am 21 years old and currently undergoing my training as an IT specialist for system integration. This website is my personal project. I am very interested in the latest technologies and enjoy experimenting with them. I find programming to be a lot of fun, whether it's in the frontend, even if it doesn't always look so pretty ;D, or in the backend.
</p>
    <h2>Interests</h2>
    <ul>
        <li>Development</li>
        <li>System Integration</li>
        <li>Hiking</li>
        <li>Reading</li>
    </ul>
{% endblock %}
