<!DOCTYPE html>
<html>
<head>
    <title>QR Code Scanner</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/updates">Updates</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/about">About me</a></li>
    </ul>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
