{% extends "base.html" %}

{% block content %}
    <h1>Terms of Service</h1>
    <p>
        These are the terms of service for our website. Please read them carefully before using our services.
        By using our services, you agree to abide by these terms.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. In sit amet varius quam.
        Curabitur quis arcu vitae ex bibendum facilisis. Nulla facilisi. Donec pharetra, justo a auctor bibendum,
        est elit fringilla odio, in vulputate elit metus at orci. Nam quis viverra nisl, sed consequat arcu.
        Fusce in justo eget mi tincidunt ullamcorper. Praesent non urna in neque sollicitudin consectetur.
    </p>
    <p>
        Nullam eu arcu at leo eleifend commodo ut ut nisi. Nulla facilisi. Aliquam euismod, ex ut tincidunt euismod,
        massa sem cursus arcu, eu pellentesque est lectus vel dui. Vivamus et dui vitae ante tincidunt sodales.
        Quisque bibendum massa ac libero hendrerit, at lacinia metus venenatis.
    </p>
{% endblock %}
